@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div >
    
    <form>
    @*take in number of students per group*@
</form>
    <form>
    @*take in number of groups*@
</form>
    <table>
        @*display names in groups, as a table*@

    </table>

</div>
