@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home page";
    int num = Convert.ToInt32(ViewData["GroupNumber"]);
    int size = Convert.ToInt32(ViewData["GroupSize"]);
}

<section>
    <div class="div1">
        <form method="post">
            @*take in number of students per group*@
            <input asp-for="Number" class="input"/>
            <input type="checkbox" asp-for="Radio" value="true" />
            <label class="label">Check to Set Size of Groups</label>
            <button type="submit">Go!</button>
        </form>
    </div>
    <div>
        @if (Model.Groups == null)
        {
            <div>
                <ul class="header">
                    Groups
                    <li class="names">Names</li>
                </ul>
            </div>
        }
        else
        {
            //Not a table, lets use lists
            <div class="table">
                @for (var i = 0; i < num; i++)
                {
                    <ul class="header">
                        Group @(i + 1)
                        @for (var j = 0; j < size; j++)
                        {
                            <li class="names">
                                @Model.Groups[i, j]
                            </li>
                        }
                    </ul>
                }
            </div>
        }
    </div>
    
</section>
